{% extends 'blog/base.html' %}

{% block title %}
    {% if view.object %}
        {{ view.object.title }}
    {% else %}
        New Post
    {% endif %}
{% endblock %}

{% block content %}
<h2>
    {% if view.object %}
        {{ view.object.title }}
    {% else %}
        Create New Post
    {% endif %}
</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Submit</button>
</form>

<a href="{% url 'post-list' %}">Cancel</a>
{% endblock %}
